* {
    font-family: 'Noto Sans KR', sans-serif !important;
}
.wrap {padding: 100px;}
.box {margin-top: 50px;}
.tit {margin-bottom: 40px;}
th {font-weight: bold; font-size: 20px;}
td {vertical-align: middle; height: 150px;}


.btn {display: inline-block; width: 200px; height: 40px; margin-bottom: 10px; background: #fff; border: 1px solid #ccc !important;}
.paging {display: flex; justify-content: center; width: 100%; margin-top: 50px;}
.paging__list {display: flex;}
.paging-item {display: flex; justify-content: center; align-items: center; width: 35px; height: 35px; margin: 0 5px; border: 1px solid #ccc; box-sizing: border-box;}
.paging__inner { display: flex;}
.paging-item.no-show {opacity: 0; pointer-events: none;}
.paging-item.active {border: none; background-color: rgb(180, 180, 249); color: #fff;}

/* 메인 */
h1 {text-transform: uppercase; font-size: 60px;}
.list {display: flex; flex-wrap: wrap; margin-top: 150px; padding-left: 0;}
.item { width: calc(25% - 20px); height: auto; margin-right: 20px; margin-bottom: 40px; box-shadow: 4px 4px 10px 2px #ccc; transition: all .5s;}
.item:hover {box-shadow: 4px 4px 10px 2px #b5d9eb;}
.item:nth-child(4n) {margin-right: 0;}
.list__box {overflow: hidden;}
.list__link {display: inline-block; box-sizing: border-box; width: 100%; height: 100%;}
.item .list__img { width: 100%; height: 250px; object-fit: cover; transition: all 2s;}
.item:hover .list__img {transform: scale(1.2);}
.list__text-box {padding: 1vw;}
.list__title {font-size: calc(5px + .9vw); font-weight: bold;}
.list__category {display: flex; flex-wrap: wrap; margin-top: 15px;}
.list__category span {margin-right: 5px; margin-bottom: 10px; padding: 0 7px;}
.list__category span:nth-child(1) {background-color: #fcdcdc;}
.list__category span:nth-child(2) {background-color: #eaffda;}
.list__category span:nth-child(3) {background-color: #dcebfc;}
.list__category span:nth-child(4) {background-color: #dcfcf4;}
.list__category span:nth-child(5) {background-color: #e1dcfc;}
.list__category span:nth-child(6) {background-color: #fcdcec;}
.list__category span:nth-child(7) {background-color: #fcdcdc;}
.list__category span:nth-child(8) {background-color: #eaffda;}
.list__category span:nth-child(9) {background-color: #dcebfc;}
.list__category span:nth-child(10) {background-color: #dcfcf4;}
.list__desc {margin-top: 10px; font-size: calc(5px + .6vw); color: #333; line-height: 1.5;}
.list__date {margin-top: 20px; font-size: calc(5px + .5vw); color: #777;}

.more {display: flex; justify-content: center;}
.more a {padding: 10px 20px; background-color: rgb(167, 167, 252); color: #fff;}
.more__btn + a {margin-left: 10px;}

table.vertical {display: flex; align-items: start; }
table.vertical thead {margin-right: 50px;}
table.vertical thead tr, 
table.vertical thead tr th { display:block; height: 150px;}

table.vertical tbody { display:block; oveflow-x:hidden; white-space:nowrap; }
table.vertical tbody tr { display:inline-block; }
table.vertical tbody tr td { display:block;}